* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  margin: 0.5% auto;
}
header {
  border: 1px solid gray;
}
#logo {
  width: 30%;
  margin: auto;
}
#logo-img {
  width: 100%;
}
#btn-language {
  float: right;
}
header::after {
  content: "";
  clear: both;
  display: block;
}
#text1 {
  text-align: center;
}
#username-check {
  width: 50%;
  margin: auto;
}
#user-input {
  width: 100%;
  border: 1px solid gray;
}
#mistake {
  width: 100%;
}
#out {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
}
#symbol-icon {
  float:left;
}
#symbol-icon::after {
  content: "";
  clear: both;
  display: block;
}
#social {
  width: 30%;
  margin: auto;
  border: 1px solid gray;
}
.social-network {
  width: 32%;
}
#sample-images {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
}
.sample-images-example {
  width: 49%;
}
#adv {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
}
footer {
  border: 1px solid gray;
  background-color: black;
  color: white;
}
#foot-wrap {
  width: 80%;
  margin: auto;
  background-color: black;
}
#team {
  float: left;
  border: 1px solid gray;
  width: 80%;
  background-color: black;
}
.team-info {
  float: left;
  width: 33%;
  margin: auto;
  background-color: black;
}
.team-mate {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  background-color: black;
}
.team-name {
  text-align: center;
  background-color: black;
}
#contacts {
  float: right;
  border: 1px solid gray;
  width: 20%;
  background-color: black;
}
